.register{
    width: 50%;
    background-color: rgba(244, 195, 239, 0.823);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;

}
.title-register{
    color: rgb(249, 57, 191);
    font-family: 'Courier New', Courier, monospace;
}
.register-input-field{
    width: 48%;
}

/* .register-all{
    border: 2px solid rgba(128, 128, 128, 0.491);
    margin-left: 50px;
} */